astor==0.8.1 ; python_version >= "3.8" and python_version < "3.11"
attrs==22.2.0 ; python_version >= "3.8" and python_version < "3.11"
bandit==1.7.4 ; python_version >= "3.8" and python_version < "3.11"
cfgv==3.3.1 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32" or python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows"
darglint==1.8.1 ; python_version >= "3.8" and python_version < "3.11"
distlib==0.3.6 ; python_version >= "3.8" and python_version < "3.11"
docutils==0.19 ; python_version >= "3.8" and python_version < "3.11"
eradicate==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
exceptiongroup==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.9.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-bandit==3.0.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-broken-line==0.5.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-bugbear==22.12.6 ; python_version >= "3.8" and python_version < "3.11"
flake8-commas==2.1.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-comprehensions==3.10.1 ; python_version >= "3.8" and python_version < "3.11"
flake8-debugger==4.1.2 ; python_version >= "3.8" and python_version < "3.11"
flake8-docstrings==1.7.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-eradicate==1.4.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-isort==4.2.0 ; python_version >= "3.8" and python_version < "3.11"
flake8-polyfill==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
flake8-quotes==3.3.2 ; python_version >= "3.8" and python_version < "3.11"
flake8-rst-docstrings==0.2.7 ; python_version >= "3.8" and python_version < "3.11"
flake8-string-format==0.3.0 ; python_version >= "3.8" and python_version < "3.11"
flake8==4.0.1 ; python_version >= "3.8" and python_version < "3.11"
gitdb==4.0.10 ; python_version >= "3.8" and python_version < "3.11"
gitpython==3.1.31 ; python_version >= "3.8" and python_version < "3.11"
identify==2.5.18 ; python_version >= "3.8" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.11"
isort==5.12.0 ; python_version >= "3.8" and python_version < "3.11"
mccabe==0.6.1 ; python_version >= "3.8" and python_version < "3.11"
nodeenv==1.7.0 ; python_version >= "3.8" and python_version < "3.11"
packaging==23.0 ; python_version >= "3.8" and python_version < "3.11"
pbr==5.11.1 ; python_version >= "3.8" and python_version < "3.11"
pep8-naming==0.13.2 ; python_version >= "3.8" and python_version < "3.11"
platformdirs==3.1.0 ; python_version >= "3.8" and python_version < "3.11"
plotly==5.13.1 ; python_version >= "3.8" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
pre-commit==3.1.1 ; python_version >= "3.8" and python_version < "3.11"
pycodestyle==2.8.0 ; python_version >= "3.8" and python_version < "3.11"
pydocstyle==6.3.0 ; python_version >= "3.8" and python_version < "3.11"
pyflakes==2.4.0 ; python_version >= "3.8" and python_version < "3.11"
pygments==2.14.0 ; python_version >= "3.8" and python_version < "3.11"
pytest==7.2.2 ; python_version >= "3.8" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
restructuredtext-lint==1.4.0 ; python_version >= "3.8" and python_version < "3.11"
setuptools==67.5.1 ; python_version >= "3.8" and python_version < "3.11"
smmap==5.0.0 ; python_version >= "3.8" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
stevedore==5.0.0 ; python_version >= "3.8" and python_version < "3.11"
tenacity==8.2.2 ; python_version >= "3.8" and python_version < "3.11"
tokenize-rt==5.0.0 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.5.0 ; python_version >= "3.8" and python_version < "3.11"
virtualenv==20.20.0 ; python_version >= "3.8" and python_version < "3.11"
wemake-python-styleguide==0.17.0 ; python_version >= "3.8" and python_version < "3.11"
yesqa==1.4.0 ; python_version >= "3.8" and python_version < "3.11"
